#render-area-wrapper {
    display: flex;
    flex-direction: row;
    position: absolute;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    /* margin-left: 15vw; */
    align-items: center;
}

#render-area {
    display: flex;
    padding: 5px;
    /* max-height: 80vh; */
    border: rgb(255, 255, 255) 2px solid;
    border-radius: 5px;
    background-color: rgb(225, 225, 225);
    /* box-shadow: 0px 0px 25px -5px rgba(0, 0, 0, 0.35); */
}

#render-window-wrapper {
    display: flex;
    justify-content: center;
    /* white-space: nowrap; */
    border-radius: 5px;
    overflow: hidden;
}

#page {
    display: block;
    position: absolute;
    z-index: 2;
    background-color: rgb(255, 255, 255);
    /* background-image: url('./img/compo_text_1.png'); */
    background-size: contain;
    mix-blend-mode: darken;
}

canvas {
    display: block;
    /* filter: grayscale(1); */
}

#canvas-container {
    z-index: 1;
}