#parameters-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: right;
    flex-grow: 1;
    max-width: 40vw;
    z-index: 5;
    gap: 5px;
    padding: 5px;
    border: rgb(255, 255, 255) 2px solid;
    box-sizing: border-box;
    border-radius: 8px;
    /* background-color: rgb(198, 198, 198); */
    backdrop-filter: blur(2px);
    background-color: #d6d6d6;
}

.parameters-box {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    padding: 0px 5px;
    background-color: rgba(255, 255, 255, 0.852);
    border-radius: 5px
}

.param-label {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 600;
    font-stretch: ultra-condensed;
    font-size: 18px;
    text-transform: capitalize;
}

#list-edges-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-right: 0px;
    gap: 5px;
    justify-content: space-around;
    padding: 10px 2px;
    padding-right: 5spx;
    max-height: 55vh;
    overflow-y: scroll;
    /* box-shadow: inset 0px 0px 20px 0px black; */
}

#list-edges-container::-webkit-scrollbar {
    width: 10px;
    /* Width of the scrollbar */
    /* left: 10px; */

}

#list-edges-container::-webkit-scrollbar-track {
    background: #f1f1f1;
    /* Light gray background */
    border-radius: 5px;
    /* Rounded corners */

}

#list-edges-container::-webkit-scrollbar-thumb {
    background: #1c1c1c;
    /* Darker gray thumb */
    border-radius: 5px;
    /* Rounded corners for the thumb */
}

#list-edges-container::-webkit-scrollbar-thumb:hover {
    cursor: pointer;
    background: #9e9e9e;
    /* Even darker on hover */
}

label>span {
    display: flex;
    position: relative;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    font-weight: 600;
    font-size: 20px;
    /* min-width: 25px; */
    padding: 3px;
    text-align: center;
    /* -webkit-text-stroke: .5px white; */
    /* text-shadow: -2px 1px 0px rgb(195, 195, 195); */
    -webkit-user-select: none;
    /* Safari */
    -ms-user-select: none;
    /* IE 10 and IE 11 */
    user-select: none;
    /* Standard syntax */
}

.edge-select-btn {
    display: flex;
    flex-direction: column-reverse;
    border: solid 3px;
    background-color: rgb(211, 211, 211);
    box-sizing: content-box;
    min-width: 20px;
    /* justify-content: center; */
    align-items: center;
    flex-grow: 1;
}

input[type=checkbox] {
    display: none;
}

label {
    position: relative;
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    font-size: 16px;
    color: #333;
}